extends layout

block content
    #content
      p
        | A Collection of good Gifs
      img(src='images/aye.gif' alt='')
      img(src='images/uhaha.gif' alt='')
      img(src='images/dance.gif' alt='')
      img(src='images/thug.gif' alt='')
      img(src='images/spinge.gif' alt='')
      img(src='images/old.gif' alt='')
      img(src='images/bobby1.gif' alt='')
      img(src='images/bobby2.gif' alt='')
      img(src='images/bobby3.gif' alt='')
    #content_footer
    