extends layout

block content
    #content
      p
        | Welcome to the homepage. Nothing much here. Hope youre ok !
      p
        | May As well plug myself here.
      h1
        a(href= 'https://www.youtube.com/channel/UCdIw75-l_nODSVQJUGiqaJg') Youtube 
      h1
        a(href= 'https://soundcloud.com/mystx-592270276') Soundcloud 
      p
        | ⬇ Join the discord ! ⬇
      p  
        a(href='https://discord.gg/twXHzK7')
          img(alt='' src='images/SlamLogo.gif' width= 250 height = 250)

    #content_footer
    