extends layout

block content
    #content
        table#table
          thead
            tr
              th Project Name
              th Language
              th Description
          tbody
           each projects, index in projectData
            tr
              td= projects.name
              td= projects.language
              td= projects.description
              

    #content_footer
    